.odd{
    font-family: 'Verdana', 'Dejavu Sans', sans-serif;
    background-color: pink;
    font-weight: bold;
}
#third{
    font-size: 24px;
}
#second{
    color: rgb(124, 124, 253);
    font-size: 36px;
}
#fourth{
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}